@font-face {
   font-family: 'VFMagmatic';
   src: url(../fonts/MagmaticGX.ttf);
}

@font-face {
   font-family: 'Dispatch Mono';
   src: url(../fonts/DispatchMono-Regular.woff2?#iefix) format('woff2'), url(../fonts/DispatchMono-Regular.woff) format('woff'), url(../fonts/DispatchMono-Regular.eot?#iefix) format('embedded-opentype');
}

@mixin demo-font {
   font-family: 'VFMagmatic';
   font-variation-settings: 'wght' 500, 'wdth' 500;  // default vf settings
}

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root{
   --highlightcolor: 233,233,233;
   --grey: rgb(200,200,200);
   --black: 0,0,0;
   --selection: 0,0,255;
}
body{
  // font-weight: 500;
  font-family: "Dispatch Mono";
  color: rgb(var(--black));
}

main{
  display: flex;
	font-size: 14px;
}

h1, h2, h3{
  font-weight: normal;
}

h1{
   font-size: 1.2rem;
   line-height: 1.1;
}
h2{
   font-size: 1rem;
   text-transform: uppercase;
   margin: 2rem 0 1rem;
}

/* -----------
 CONTROLS SIDEBAR
 ------------ */

#sidebar{
   padding: 1rem;
   flex: 1;
   border-left: 1px solid var(--grey);
   background: rgb(var(--highlightcolor));
}
#editor{
   @include demo-font;
   height: 5.5rem;
   font-size: 5rem;

   &:focus{
       outline: none;
   }
}

input, select{
  font-family: "Dispatch Mono";
  height: 30px;
  padding: .25rem;
  font-size: .85rem;
}
form{
   margin: 1rem 0;
   label{
      color: rgba(var(--black),0.6);
      margin-bottom: .5rem;
      display: inline-block;
   }
   input{
      width: 100%;
   }
}
.coords {
  label[for=mouseY]{
    margin-left: 1rem;
  }
}

label[for=editor]{
   display: block;
}

.field{
   margin-bottom: .5rem;
}

/* -----------
 AXIS SETTINGS
 ------------ */

.axes{
   label, h2 {
      width: 40%;
      display: inline-block;
   }
   input, select{
      width: 40%;
      display: inline-block;
   }
}

input[type="number"]{
   width: 50px;
}

.inc-control{
   label{
      display: block;
   }
   #increments{
      display: flex;
      flex-wrap: wrap;
   }
}

//turn off arrows on number inputs
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] {
    -moz-appearance:textfield;
}

/* -----------
 SELECTION  TOOL
 ------------ */
 .caption {
  color: rgba(var(--black),0.6);
  margin-bottom: .5rem;
 }
 input[type=radio]{
    width: auto;
    height: auto;
    display: inline-block;
    margin-right: 5px;
}

.selection {
   .field{
      display: inline-block;
      margin-right: 5px;
   }
}
/* -----------
 VISUALIZER GRID
 ------------ */

#visualizer{
   padding: 1.5rem;
   font-weight: normal;
   position: relative;
   flex: 4;
   height: 100vh;
}

#grid{
   height: 100%;
   font-size: 5rem;
   display: flex;
   flex-direction: column;
}

.rows{
  flex: 1;
  display: flex;
  flex-direction: column;
}

.row{
   @include demo-font;
   display: flex;
}

.rows + .row{
  border-top: 1px solid var(--grey);
} 
.items + .item{
  border-left: 1px solid var(--grey);
}
.items{
  display: flex;
  flex: 1;
}
.item{
  position: relative;
}
.item::before{
  content:"+";
  position: absolute;
  top: -11px;
  left: -5px;
  font-size: 14px;
  font-family: 'Antenna';
  color: var(--grey);
}

/* -----------
 GRID DIVIDER
 ------------ */
#info {
  //info wrapper
  pointer-events: none;
}

// #coords{
//    position: absolute;
//    background: white;
//    border: 1px solid rgb(var(--selection));
//    left: 0px;
//    top: 0px;
//    color: rgb(var(--selection));f
//    padding: .5rem;
//    display: none;
// }

#horizontal-line{
   position: absolute;
   left: 0px;
   top: 0px;
   width: 100%;
   height: 1px;
   border-bottom: 1px dashed rgb(var(--selection));
   display: none;
}

#vertical-line{
   position: absolute;
   left: 0px;
   top: 0px;
   width: 1px;
   height: 100vh;
   border-left: 1px dashed rgb(var(--selection));
   display: none;
}


.segment{
   border: 1px dotted var(--grey);
   display: flex;
   flex: 1;
}

.stack{
   flex-direction: column;
}
.whole{
   border: 0;
   position: absolute;
   left: 0px;
   top: 0px;
   width: 100%;
   height: 100%;
   z-index: 10;
   &.leaf:hover{
      background: none;
   }
}

.leaf{
   flex: 1;
   overflow: auto;
}
.resizable{
   position: relative;
   // resize: horizontal; 
}
.dragbar{
  position: absolute;
  cursor: col-resize;
  z-index: 500;
  background: var(--grey);
  &.x{
    width: 5px;
    height: 50px;
    top: 50%;
    right: 0;
  }
  &.y{
    width: 50px;
    height: 5px;
    left: 50%;
    right: auto;
    top: auto;
    bottom: 0;
    position: absolute;
    cursor: ns-resize;
  } 
}


.leaf:hover, .item:hover{
   background: rgba(var(--selection), 0.2);
}
.active, .selected, .selected:hover, .active:hover{
   background: rgba(var(--selection), 0.5);
}
.leaf.no-hover:hover{
   background: none;
}

/* -----------
 SELECTOR
 ------------ */

#alt-selector{
   @include demo-font;
   display: none;
   position: absolute;
   top: 0;
   left: 0;
   font-size: 2rem;
   border: 1px solid black;
   background: white;
   z-index: 100;
   &[data-status=visible]{
      display: block;
   }
}
.alt{
   padding: .5rem 1rem;
   &:hover{
      background: rgba(var(--selection), 0.2);
   }
}

.item[data-glyph^="ss"]{
  background: rgba(var(--selection), 0.1);
}
[data-glyph=ss20]{
   font-feature-settings: "ss20";
}

/* -----------
 OUTPUT
 ------------ */

.conditions{
  font-size: 12px;
  background: white;
  padding: .5rem;
  max-height: 120px;
  overflow: scroll;
}
.header{
  color: rgba(var(--black),0.8);
}
.header, .condition{
  display: flex;
}

.set{
  padding: .25rem 0;
  border-top: 1px solid var(--grey);
}

.name, .min, .max{
  flex: 1;
}

