.hljs-tag {
  color:var(--syntax-tag-color);
}

.hljs-name {
  color:var(--syntax-name-color);
}

.hljs-attr {
  color:var(--syntax-attr-color);
}

.hljs-string {
  color:var(--syntax-value-color);
}

.hljs-comment {
  color:var(--syntax-comment-color);
}
