body {
  font-size: 12px;
}

h1, .heading {
  font-size: 1.4em;
}

.tiny {
  font-size: .8em;
}

.ss20 {
  font-feature-settings: "ss20";
}

.alternate-1 {
  background-color: lightblue;
}

.alternate-2 {
  background-color: lightgreen;
}

.alternate-3 {
  background-color: lightyellow;
}

.alternate-4 {
  background-color: lightpink;
}
